---
import GitHub from "./icons/GitHub.astro";
import Tailwind from "./icons/Tailwind.astro";
import CSharp from "./icons/CSharp.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
  CSHARP: {
    name: "C#",
    class: "bg-purple-800 text-white",
    icon: CSharp,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  GITHUB: {
    name: "GitHub",
    class: "bg-black text-white",
    icon: GitHub,
  },
};
const PROJECTS = [
  {
    title:
      "MeasurementsTool - Easy to use measurement units conversion library for C#",
    description:
      "Librería que facilita la conversión de unidades de medida. Este proyecto es una práctica que me ha permitido aprender sobre despliegue con GitHub Actions, Codecov, Astro y paquetes NuGet, sino que también ofrece una herramienta práctica para desarrolladores. ¡Sigue leyendo para descubrir cómo puede ayudarte en tus proyectos!",
    link: "https://sergi0martin.github.io/MeasurementsTool",
    github: "https://github.com/Sergi0Martin/MeasurementsTool",
    image: "/projects/MeasurementsTool.webp",
    tags: [TAGS.CSHARP, TAGS.GITHUB, TAGS.TAILWIND],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
